{:paths ["src" "resources"]
 :deps  {org.clojure/clojure  {:mvn/version "1.10.3"}
         seancorfield/clj-new {:mvn/version "1.1.243"}}
 :aliases
        {:test    {:extra-paths ["test"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.0.0"}}}
         :runner
                  {:extra-deps {com.cognitect/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner"
                                 :sha     "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
                   :main-opts  ["-m" "cognitect.test-runner"
                                "-d" "test"]}

         :jar     {:replace-deps {seancorfield/depstar {:mvn/version "2.0.165"}}
                   :exec-fn      hf.depstar/jar
                   :exec-args    {:jar "dv.fulcro-template.jar"}}

         :install {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.12"}}
                   :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "dv.fulcro-template.jar"]}

         :deploy  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.12"}}
                   :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "dv.fulcro-template.jar"]}}}
