{:env :prod
 :io.pedestal.http/config
 {:env                              :prod
  :io.pedestal.http/port            8085
  :io.pedestal.http/allowed-origins ["localhost"]}

 :taoensso.timbre/logging-config
 {:level        :info
  :ns-whitelist []
  :ns-blacklist []}

 :{{namespace}}.server.crux-node/config
 {:db-spec {:dbname   "crux-db"
            :host     "localhost"
            :port     5432
            :user     "crux-user"
            :password "crux-password"}}

 :{{namespace}}.server.pathom/config
 {:connect-viz? false}

 :{{namespace}}.server.service/config
 {:csp {:font-domains  ["cdnjs.cloudflare.com" "fonts.googleapis.com" "fonts.gstatic.com"]
        :style-domains ["cdnjs.cloudflare.com" "fonts.googleapis.com"]}}}
