{:io.pedestal.http/config
 {:io.pedestal.http/port            :env.edn/PORT
  :io.pedestal.http/allowed-origins ["localhost"]}

 :{{namespace}}.server.xtdb-node/config
 {:node-type :postgres
  :db-spec {:dbname   "mydb"
            :host     "my-db-hostname.com"
            :port     44444
            :user     "myuser"
            :password :env.edn/DB_PASSWORD}}

 :taoensso.timbre/logging-config
 {:level :info}}
